{% extends 'base.html' %}

{% block head %}
Team info
{% endblock %}

{% block body %} 

<div class="container">
    <p><b>My name is Ivan Zhuralvov</b></p>
    <p>I am a student of NYK (Ukraine), finished 2-nd course</p>
    <p>Who recently started trying out flask</p>
    <p>My preferences is python, java, js(a bit less then the others)</p>
    <p>In future I could switch to C# or C++ for coding games</p>
    <a href="https://github.com/ivanZhuralvov/pythonAlgorithms">Mine works at GitHub</a>
</div>

{% endblock %}
